# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
*.class

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Infra
infra/**/.terraform/
infra/**/*.tfstate
infra/**/*.tfstate.backup
infra/**/.terraform.lock.hcl
infra/**/*.tfvars

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store

# Env
.env
.env.local
